<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|Write Form|</title>
</head>
<body>
    <h1>Post new Note</h1>

    <form action="/write" method="POST">
        <input type="text" name="handleName" placeholder="User Name ..." />
        <input type="text" name="topic" placeholder="TOPIC ..." />
        <input type="submit" value="Post" />
    </form>

    <a href="/read">read</a>
</body>
</html>